<div>
    {{#each artistListArr}}
        <div>
            <p>{{this.name}}</p> 
            <img src={{this.images.[1].url}} alt=""></div>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>
