<div>
    {{#each data.body}}
        <div>
            <p>{{this.name}}</p> 
            <img src="{{this.image}}" alt=""></div>
            <a href="">Albums</a>
        </div>
    {{/each}}
</div>
